<%= render partial: "problems/header" %>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Points</th>
      <th>Manage </th>
    </tr>
  </thaed>

  <tbody>
    <% @problems.each do |problem| %>
      <tr>
        <td><%= problem.name %></td>
        <td><%= problem.points %></td>
        <td>
          <%= link_to edit_problem_path(problem) do %>
            <span class="glyphicon glyphicon-pencil"></span>
          <% end %>

          <%= link_to problem, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <span class="glyphicon glyphicon-trash"></span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>