<%= render partial: "routes/header" %>

<table class="table">
  <thead>
    <tr>
      <th>User</th>
      <th>Problem</th>
      <th>Notes</th>
      <th>Day</th>
      <th>Manage </th>
    </tr>
  </thaed>

  <tbody>
    <% @routes.each do |route| %>
      <tr>
        <td><%= route.user.name %></td>
        <td><%= route.problem.name %></td>
        <td><%= route.notes %></td>
        <td><%= route.created_at.to_date.to_s(:short) %></td>
        <td>
          <%= link_to edit_route_path(route) do %>
            <span class="glyphicon glyphicon-pencil"></span>
          <% end %>

          <%= link_to route, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <span class="glyphicon glyphicon-trash"></span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>